%circle-job-status {
  $circle-width: 8px;
  position: relative;
  display: inline-block;
  padding-left: $circle-width * 1.6;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $circle-width;
    height: $circle-width;
    border-radius: 50%;
  }
}

.circle-job-status-0 {
  @extend %circle-job-status;
  &:before {
    background: #516FEA;
  }
}

.circle-job-status-1 {
  @extend %circle-job-status;
  &:before {
    background: #516FEA;
  }
}

.circle-job-status-2 {
  @extend %circle-job-status;
  &:before {
    background: #FF9038;
  }
}

.circle-job-status-3 {
  @extend %circle-job-status;
  &:before {
    background: #4DC600;
  }
}

.circle-job-status-4 {
  @extend %circle-job-status;
  &:before {
    background: #A3AAC3;
  }
}